.align-center-55{
    width:55%;
    margin:auto;
} 
.align-dropdown-center{
    width:auto;
    margin:0 40%;
}
.centered{
    text-align:center;
}
.float-left{
    float:left;
}
.float-right{
    float:right;
}