<div class="admin-wrapper">
    <div class='centered'>
        <h1>Service Providers</h1>
    </div>
    
    <div class="row admin-add-buttons">
        <div class="col-md-6">
            <a class="btn btn-primary float-left" href="/#/admin/serviceprovider/add">
                <span><i class="fa fa-plus-circle"></i></span>
                Add Service Provider
            </a>
        </div>
        <div class="col-md-6">
            <a class="btn btn-warning float-right" href="/#/admin/orders">
                Go to Orders
                <span><i class="fa fa-arrow-circle-right"></i></span>
            </a>
        </div>
    </div>
    
    <div class="panel panel-default">
      <table class="table">
        <td>SP ID</td>
        <td>Name</td>
        <td>Email</td>
        <td>Phone</td>
        <td>Skills</td>
        <td>Working hours</td>
        <td>Experience</td>
        <td>Availability</td>
        <td>Home Address</td>
        <tr ng-repeat='service_provider in allServiceProviders | filter:filterText.skill'>
            <td>{{service_provider.id}}</td>
            <td>{{service_provider.user.name}}</td>
            <td >{{service_provider.user.email}}</td>
            <td >{{service_provider.user.phone_number}}</td>
            <td >
                <div ng-repeat="skill in fetchKeys(service_provider.skills)"> {{skill}}</div>
            </td>
            <td >{{service_provider.day_start/12}}:00 to {{service_provider.day_end/12 }}:00</td>
            <td >{{service_provider.experience}}</td>
            <td >{{service_provider.availability}}</td>
            <td >{{service_provider.user.address}}</td>
            <!--td >
                <a class="blue" target="_" href="https://maps.google.com/?q={{service_provider.home_location[0]}},{{service_provider.home_location[1]}}" ><i class="fa fa-map-marker fa-3x"></i></a>
            </td-->
            <td>
                <a class="btn btn-warning" href="/#/admin/serviceprovider/{{service_provider.id}}/edit">Edit</a>
            </td>
            <td>
                <button ng-hide="service_provider.user.verified" class="btn btn-success" ng-click="verifySP(service_provider)">Verify</button>
            </td>
            
            
        </tr>
        

      </table>
    </div>

</div>