<div ng-hide='submittedFeedback'>
    <div class='centered' >
          <h1>
            <i class='smile fa fa-smile-o'></i>
          </h1>
          <h1>
            Thanks
          </h1>
          
        <p class="lead" ng-bind-html='helpText.staticText.thankyoumsg'></p>
    </div>
    <div class='row'>
      <div class="extra-info input-group">
          <input type="text" class="form-control" ui-keypress="{'enter':'submit()'}" ng-model='user.feedback' placeholder="Want anything more?">
          <span class="input-group-btn">
              <button class="btn btn-warning" ng-click='submit()' type="button">Let us know</button>
          </span>
      </div>
    </div>
    <div class='row'>
        <div class="col-sm-4 col-xs-6">
          
            <div class="panel panel-default">
              <div class="panel-thumbnail"><img src="../images/ignore/plumber.jpg" class="img-responsive"></div>
              <div class="panel-body">
                <p class="lead">Plumbers</p>
              </div>
            </div><!--/panel--> 
          </div><!--/col-->
          
          <div class="col-sm-4 col-xs-6">
          
            <div class="panel panel-default">
              <div class="panel-thumbnail"><img src="../images/ignore/electrician.jpg" class="img-responsive"></div>
              <div class="panel-body">
                <p class="lead">Electricians</p>
                
              </div>
            </div><!--/panel--> 

          </div><!--/col-->

          <div class="col-sm-4 col-xs-6">
          
            <div class="panel panel-default">
              <div><img src="../images/ignore/beautician.jpg" class="img-responsive"></div>
              <div class="panel-body">
                <p class="lead">Beauticians</p>
                
              </div>
            </div><!--/panel-->
          </div><!--/col-->
      </div>
      <div class='row'>
          <div class="col-sm-4 col-xs-6">
          
            <div class="panel panel-default">
              <div><img src="../images/ignore/cook.jpg" class="img-responsive"></div>
              <div class="panel-body">
                <p class="lead">Cooks</p>
                
              </div>
            </div><!--/panel-->
          </div><!--/col-->
          
          <div class="col-sm-4 col-xs-6">
          
            <div class="panel panel-default">
              <div class="panel-thumbnail"><img src="../images/ignore/keymaker.jpg" class="img-responsive"></div>
              <div class="panel-body">
                <p class="lead">Keymakers</p>
              </div>
            </div><!--/panel--> 
          </div><!--/col-->
          
          <div class="col-sm-4 col-xs-6">
          
            <div class="panel panel-default">
              <div class="panel-thumbnail"><img src="../images/ignore/laundry.jpg" class="img-responsive"></div>
              <div class="panel-body">
                <p class="lead">Laundry</p>
              </div>
            </div><!--/panel--> 

          </div><!--/col-->
        </div>
    
      
</div>


<div class='centered' ng-show='submittedFeedback'>
    <h1>
        <i class='tick fa fa-check-circle'></i>
    </h1>
    <p class="lead" ng-bind-html='helpText.staticText.signedUpmsg'></p>
</div>