<div ng-show='timeunselected && !ordercomplete'>
    <div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading">PRICE PER CLOTH</div>
      <table class='table'>
         <th>
             <td> Wash</td>
             <td> Wash+Iron</td>
             <td> Iron</td>
             
         </th>   
         <tr>
             <td><strong>Regulars</strong> (Shirts,Pants,Salwars etc.)</td>
             <td>18</td>
             <td>25</td>
             <td>7</td>
             
        </tr>
        <tr>
             <td><strong>Large Wearables</strong> (Sarees, Suits,Pull-Overs etc.)</td>
             <td>40</td>
             <td>50</td>
             <td>10</td>
             
        </tr>
        <tr>
             <td><strong>Non-Wearables</strong> (BedSheets, Curtains etc.)</td>
             <td>55</td>
             <td>70</td>
             <td>15</td>
             
        </tr>


        </table>
    </div>

    <p>Minimum order : Rs.100</p>
    <div class='date-picker' >
        <h2>Choose</h2>
        <div class='date-item' ng-repeat='skill in laundrySkills'>
                <input ng-change='' ng-model='selected.skill' id="{{skill}}" class="date-item-input" type="radio" value="{{skill}}" name="date">
                <label for="{{skill}}">
                  <div class='date-item-day'>{{skill}}</div>
                </label>
        </div>
    </div>

    <time-slots></time-slots>
    <time-ranges></time-ranges>
    <div class='centered'>
      <button ng-class='{disabled:!(selected.timerange && selected.skill)}' ng-click="poptastic('/api/auth/google/?user_type=service_user&next=/api/close')" class='btn btn-warning'>Schedule Pickup</button>
    </div>
</div>


<div ng-show='ordercomplete'>
    <h1>Thank you</h1>
    <h3>We'll pick them up on {{selectedSlotHumanized}} </h3>
    <button class="btn btn-warning" ng-click='ModifyOrder()'>Order Another</button>


</div>
