<!--div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#">Home</a></li>
    <li><a ng-href="#">About</a></li>
    <li><a ng-href="#">Contact</a></li>
  </ul>
  <h3 class="text-muted">{{helptext}}</h3>
</div>
<div class='box'>
  <h1>We've got you Covered.</h1>
  <p class="lead">
    {{helpText.staticText.darkContainerText}}
  </p>
  <p>
    Sign up to know when. 
    We.do.NOT.spam.
  </p>
  <div class="email-container col-lg-12">
    <div class="input-group">
        <input type="email" class="form-control" ng-model='user.email' placeholder="your email here...">
        <span class="input-group-btn">
          <button class="btn btn-warning" ng-click='openDialog()' type="button">Tell me when you launch</button>
        </span>
    </div>
  </div>
</div-->
<!-- Wrap all page content here -->
<div id="wrap">
  
<header class="masthead">
    <div class="container" id='#top'>
    <div class="row">
      <div class="header">
    </div>
    <div class='box'>
      <h1>We've got you covered.</h1>
      <p class="lead" ng-bind-html='helpText.staticText.darkContainerText'></p>
      <p class='tagline'>We feel your pain. Hence we are simplifying service procurement so that you spend more time on things that matter.</p>
      <div class="email-container col-lg-12">
        <div class="input-group">
            <input type="email" class="form-control" ng-model='user.email' placeholder="your email here...">
            <span class="input-group-btn">
              <button class="btn btn-warning" ng-click='openDialog()' type="button">Tell me when you launch</button>
            </span>
        </div>
      </div>

    </div>
    </div>
    </div>
</header>
  
  
<!-- Fixed navbar -->
<div class="navbar navbar-custom navbar-inverse navbar-static-top" id="nav">
    <div class="container" id='section1'>
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav nav-justified">
          <li><a href="#">Home</a></li>
          <li><a href="#/#product">Product</a></li>
          <li><a href="#/#services">Services</a></li>
          <li><a href="#/#signup">Why?</a></li>
          <li><a href="#/#contact">Contact</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div><!--/.container -->
</div><!--/.navbar -->
  
<!-- Begin page content -->
<div class="container" id='product'>
  <div class="col-sm-10 col-sm-offset-1">
    <div class="page-header text-center">
      <h1>Any Seva at your <i>fingertip.</i></h1>

    </div>
    <p class="text-center">
      We are a bunch of IITians equipped with the finest technological expertise out there. At Sevame, We understand the complexity involved in provisioning a service. Driven by our cutting-edge technology and an innovative operations model, we set out to build a product which can act as a platform to connect any customer to any service need. Half-way through in building something very simple and extremely lovable, we would like to talk to you. 
    </p>
    
    <div class="love">
      <i class='fa fa-heart '></i>
    </div>
     <p class="text-center">
      sign-up to bask in the delight. 
    </p>
    <hr>
   
  </div>
</div>
    
<section class="bg-1">
  
</section>
  
<div class="divider"></div>
   
<div class="container" id="services">
    <div class="col-sm-8 col-sm-offset-2 text-center">
        <h1>Current Services</h1>
        <p>
        We have currently short listed a small set of services to offer. More will be rolled out soon. Please let us know during sign-up if you would like us to consider any other services at priority.
        </p>
        
        <hr>
        
       <div class="row">
      <div class="col-sm-2 col-xs-6">
      
        <div class="panel panel-default">
          <div class="panel-thumbnail"><img src="../images/ignore/plumber.jpg" class="img-responsive"></div>
          <div class="panel-body">
            <p class="lead">Plumbers</p>
          </div>
        </div><!--/panel--> 
      </div><!--/col-->
      
      <div class="col-sm-2 col-xs-6">
      
        <div class="panel panel-default">
          <div class="panel-thumbnail"><img src="../images/ignore/electrician.jpg" class="img-responsive"></div>
          <div class="panel-body">
            <p class="lead">Electricians</p>
            
          </div>
        </div><!--/panel--> 

      </div><!--/col-->

      <div class="col-sm-2 col-xs-6">
      
        <div class="panel panel-default">
          <div><img src="../images/ignore/beautician.jpg" class="img-responsive"></div>
          <div class="panel-body">
            <p class="lead">Beauticians</p>
            
          </div>
        </div><!--/panel-->
      </div><!--/col-->
      
      <div class="col-sm-2 col-xs-6">
      
        <div class="panel panel-default">
          <div><img src="../images/ignore/cook.jpg" class="img-responsive"></div>
          <div class="panel-body">
            <p class="lead">Cooks</p>
            
          </div>
        </div><!--/panel-->
      </div><!--/col-->
      
      <div class="col-sm-2 col-xs-6">
      
        <div class="panel panel-default">
          <div class="panel-thumbnail"><img src="../images/ignore/keymaker.jpg" class="img-responsive"></div>
          <div class="panel-body">
            <p class="lead">Keymakers</p>
          </div>
        </div><!--/panel--> 
      </div><!--/col-->
      
      <div class="col-sm-2 col-xs-6">
      
        <div class="panel panel-default">
          <div class="panel-thumbnail"><img src="../images/ignore/laundry.jpg" class="img-responsive"></div>
          <div class="panel-body">
            <p class="lead">Laundry</p>
          </div>
        </div><!--/panel--> 

      </div><!--/col-->

      
       </div> <!--/row-->
        
        <hr>
      </div><!--/col-->

</div><!--/container-->

<div class="divider"></div>
  
<section class="bg-3" id="signup">
  <div class="col-sm-6 col-sm-offset-3 text-center"><h2>Connect. Choose . Chill .</h2></div>
</section>
  
<div class="container bg-4">
     <div class="col-sm-8 col-sm-offset-2 text-center">
      <h1>Early Sign-Up Privileges</h1>
      <p>
      We love our patrons. Especially the early birds. We will be doling exciting offers for our privileged customers who sign-up early. Heck,  the first job might be on us!
      </p>
      
      
      <div class="email-container col-lg-8 col-sm-offset-2">
        <div class="input-group">
            <input type="email" class="form-control" ng-model='user.email' placeholder="your email here...">
            <span class="input-group-btn">
              <button class="btn btn-warning" ng-click='openDialog()' type="button">Sign Up </button>
            </span>
        </div>
      </div>
      <br>
      <div class="love col-lg-8 col-sm-offset-2">
       <i class='fa fa-heart '></i>
      </div>

      
      
    </div><!--/col-->
    
  
</div><!--/container-->

<div class="divider" id="contact"></div>

<div class="container">
    <div class="col-sm-8 col-sm-offset-2 text-center">
      <h3>Beckoning all service aficionados to join us in revolutionizing how services are procured and offered from now.</p></h3>
      <hr>
      <h4>
        We love to listen.
      </h4>
      <ul class="list-inline center-block contact-us">
        <li><a target='_' href="http://facebook.com/sevameindia"><i class='fa fa-facebook-square'></i></a></li>
        <li><a target='_'  href="http://twitter.com/sevameindia"><i class='fa fa-twitter-square'></i></a></li>
        <li><a target='_'  href="http://reddit.com/r/sevame"><i class='fa fa-reddit-square'></i></a></li>
        <li><a target='_'  href="mailto:contact@sevame.in"><i class='fa fa-envelope'></i></a></li>
      </ul>
      <hr>
      
      
    </div><!--/col-->
</div><!--/container-->
  
</div><!--/wrap-->



  