<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#">Home</a></li>
    <li><a ng-href="#">About</a></li>
    <li><a ng-href="#">Contact</a></li>
  </ul>
  <h3 class="text-muted">{{helptext}}</h3>
</div>

<div class="jumbotron email-box">
  <h1>DREAM.DISCOVER.GO.</h1>
  <p class="lead">
    {{helpText.staticText.darkContainerText}}
  </p>
  <p>
    Sign up to be a featured traveller.
  </p>
  <div class="col-lg-6">
    <div class="input-group">
        <input type="text" class="form-control" placeholder="Your Email here...">
        <span class="input-group-btn">
          <button class="btn btn-warning" type="button">Submit</button>
        </span>
    </div>
  </div>
</div>

<div class="row marketing">
  <h4>Come Join Us</h4>
  
  <p>
     {{helpText.staticText.comeJoinCommunity}}
  </p>
</div>
<div class='row marketing'>
  <h4>Why Us?</h4>
  <p>
    {{helpText.staticText.uspText}}
  </p>
</div>
