<h2>Customer details</h2>
<div class="panel panel-default">
    <table class="table">
        <td>Name</td>
        <td>Email</td>
        <td>Phone</td>
        <td>Address</td>
        <tr>
            <td>{{customer.name}}</td>
            <td>{{customer.email}}</td>
            <td>{{customer.phone_number}}</td>
            <td>{{customer.address}}</td>
        </tr>
    </table>
</div>





<h2>Assigned SP</h2>
<div class="panel panel-default">
    <table class="table">
        <td>SP ID</td>
        <td>Email</td>
        <td>Phone</td>
        <tr>
            <td ng-model="service_provider.user.name">{{assignedSP.id}}</td>
            <td ng-model="service_provider.user.name">{{assignedSP.user.email}}</td>
            <td ng-model="service_provider.user.name">{{assignedSP.user.phone_number}}</td>
        </tr>
    </table>
</div>


